body {
  background-color: #000;
  color: #fff;
}

h1, h2, h3 {
  color: #fff;
}

a {
  outline: none;
  text-decoration: none;
  color: #F88622;
}

a:link {
  color: #F88622;
}

a:visited {
  color: #F88622;
}

a:focus {
  color: #F88622;
}

a:hover {
  color: #F88622;
}

a:active {
  color: #F88622;
}

.container {
  padding: 1rem;
}

.index {
  margin: 1rem auto;
  text-align: center;
}

.covers {
  width: 100%;
}

.cover {
  padding: 0 1rem;
  display: inline-block;
  width: 50%;
}

.cover img {
  width: 100%;
}

.preorder {
  text-align: center;
  padding: 1rem;
}